html, body {
    height: 100%;
    background-color: tomato;
}
body, #header, #footer, #main, .buttons, .sliders, .canvas {
    display: flex;
    flex: 1;
}
body, .buttons, .sliders {
    flex-direction: column;
}
#header, #footer{
    justify-content: center;
    align-items: center;
}
#main {
    flex: 2;
}
.buttons, .sliders {
    justify-content: center;
    align-items: center;
    gap: 30px;
}
:root {
    --grid-cols: 50;
    --grid-rows: 50;
}
.grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols),auto);
    grid-template-rows: repeat(var(--grid-rows),auto);
}
.slider {
    width: 70%;
}

/*colors/sizes/fonts!*/
.canvas {
    flex: 0 0 500px;
    height: 500px;
    border: solid 20px firebrick;
    border-radius: 15px;
}
button {
    font-size: 15px;
    padding: 15px;
    background-color: orangered;
    color: white;
    border: solid 4px darkred;
    width: 10em;
}

button:hover {
    background-color: indianred;
    color: white;
}
.active {
    background-color: firebrick;
    color: white;
}
#header {
    font-size: 4em;
}
div {
    color:white
}