html, body {
    height: 100%;
}
body, #header, #footer, #main, .buttons, .sliders, .canvas {
    display: flex;
    flex: 1;
}
body, .buttons, .sliders {
    flex-direction: column;
}
#header, #footer{
    justify-content: center;
    align-items: center;
}
#main {
    flex: 2;
}
.buttons, .sliders {
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.canvas {
    flex: 0 0 500px;
    height: 500px;
    border: solid black;
}

:root {
    --grid-cols: 50;
    --grid-rows: 50;
}
.grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols),auto);                       /*hmmm*/
    grid-template-rows: repeat(var(--grid-rows),auto);
}
.slider {
    width: 70%;
}

button {
    font-size: 15px;
    padding: 15px;
    background-color: white;
    color: black;
    border: solid 2px black;
}

button:hover {
    background-color: greenyellow;
    color: white;
}
.active {
    background-color: green;
    color: white;
}